<style>
.committerAvatar {
  width: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 17px;
}
</style>
<div ng-show="filtered.repository != null">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div style="font-size: 22px">
      <i class="fa fa-database" style="font-size: 20px"></i>
      {{filtered.repository.name}}
    </div>

    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-users"></i> TD Committers</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-12 ">
        <div id="slider"></div>
      </div><!-- ./col -->
    </div><!-- /.row -->



    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <commits-overview commits="filtered.commits"></commits-overview>
      </div><!-- ./col -->
     
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{filtered.classes.length}}</h3>
            <p>Classes</p>
          </div>
          <div class="icon">
            <i class="ion ion-document"></i>
          </div>
          <a href="#" ng-click="classesDetails()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{filtered.lines}}</h3>
            <p>Lines</p>
          </div>
          <div class="icon">
            <i class="ion ion-code-working"></i>
          </div>
          <a href="#" ng-click="linesDetails()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{filtered.technicalDebts.length}}</h3>
            <p>Technical Debt</p>
          </div>
          <div class="icon">
            <i class="ion ion-bug"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->
    </div><!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-7 connectedSortable">
        

        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Technical Debt</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Committer</th>
                    <th ng-repeat="cSmells in codeSmells | orderBy:'name'">{{cSmells.name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="committer in filtered.committers | orderBy:'message'">
                    <td>{{committer.message}}</td>
                    <td ng-repeat="cSmells in codeSmells | orderBy:'name'">
                      <div ng-if="getCodeSmellsByMember(cSmells.name, committer.email) > 0">
                        <span class="description-percentage text-red">
                        <i class="fa fa-caret-up"></i> {{getCodeSmellsByMember(cSmells.name, committer.email)}}</span>
                      </div>
                      <div ng-if="getCodeSmellsByMember(cSmells.name, committer.email) == 0">
                        <span class="description-percentage text-yellow">
                        <i class="fa fa-caret-left"></i> 0</span>
                      </div>
                      <div ng-if="getCodeSmellsByMember(cSmells.name, committer.email) < 0">
                        <span class="description-percentage text-green">
                        <i class="fa fa-caret-down"></i> {{getCodeSmellsByMember(cSmells.name, committer.email)}}</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <!-- <div class="box-footer clearfix">
            <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Code Smells Presents</a>
          </div> -->
          <!-- /.box-footer -->
        </div>
      </section><!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-5 connectedSortable">

        <!-- Chat box -->
        <div class="box box-success">
          <div class="box-header">
            <i class="fa fa-users"></i>
            <h3 class="box-title">{{filtered.committers.length}} Committers</h3>
          </div>
          <div class="box-body chat" id="chat-box">
            <!-- chat item -->
            <div class="item" ng-repeat="committer in filtered.committers | orderBy:'name'">
              <i class="fa bg-light-blue committerAvatar">{{committer.name.substring(0,2).toUpperCase()}}</i>
              <!-- <img ng-src="{{committer.avatar}}" alt="user image" class=""> -->
              <p class="message">
                <a href="#" class="name">
                  <!-- <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small> -->
                  {{ committer.name }}
                </a>
                {{ committer.email }}
              </p>
            </div><!-- /.item -->
            <!-- chat item -->
          </div><!-- /.chat -->
        </div><!-- /.box (chat box) -->

      </section><!-- right col -->
    </div><!-- /.row (main row) -->


    <div class="row">
      <section class="col-md-12 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-bug"></i> TD Evolution</li>
          </ul>
          <div class="tab-content no-padding">
            <div class="box-body chart-responsive">
              <div class="chart" id="line-chart" style="height: 300px;"></div>
            </div>
          </div>
        </div><!-- /.nav-tabs-custom -->
      </section>
    </div>

  </section><!-- /.content -->


</div>