<div id="minerModal" class="modal fade bs-example-modal-sm" role="dialog">
  <div class="modal-dialog" id="ttt">
	  <div class="modal-content">
	    <div class="modal-header modal-header-info">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h3 class="modal-title">
	      	Process Repository
	      </h3>
	    </div>

	    <div class="modal-body">
        <div class="row">
        	<form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputName" class="col-sm-3 control-label">Repository Name</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="inputName" placeholder="Repository Name">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputDescription" class="col-sm-3 control-label">Description</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="inputDescription" placeholder="Repository Description">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPath" class="col-sm-3 control-label">Local Path</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="inputPath" placeholder="Repository Path">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputCvs" class="col-sm-3 control-label">CVS</label>
					    <div class="col-sm-8">
					    	<select  class="form-control" id="inputCvs">
					    		<option>GIT</option>
					    	</select>
					    </div>
					  </div>
					  <div class="form-group">
					  	<label for="inputMetrics" class="col-sm-3 control-label">Metrics</label>
					  	<div class="col-sm-8">
	              <select class="form-control selectpicker" id="inputMetrics" multiple data-actions-box="true">
	                <option>ATFD</option>
	                <option>TCC</option>
	                <option>WMC</option>
	                <option>CC</option>
	                <option>MLOC</option>
	                <option>PAR</option>
	                <option>LVAR</option>
	              </select>
              </div>
            </div><!-- /.form-group -->
            <div class="form-group">
					  	<label for="inputSmells" class="col-sm-3 control-label">Code Smells</label>
					  	<div class="col-sm-8">
	              <select class="form-control selectpicker" id="inputSmells" multiple data-actions-box="true">
	                <option>God Class</option>
	                <option>Long Method</option>
	              </select>
              </div>
            </div><!-- /.form-group -->
            <div class="form-group">
					  	<label for="inputDebts" class="col-sm-3 control-label">Technical Debts</label>
					  	<div class="col-sm-8">
	              <select class="form-control selectpicker" id="inputDebts" multiple data-actions-box="true">
	                <option>Code Debt</option>
	                <option>Design Debt</option>
	              </select>
              </div>
            </div><!-- /.form-group -->
					  <div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9">
					      <button ng-click="mineRepository()" class="btn btn-success">Mine Repository</button>
					    </div>
					  </div>
					</form>
        </div>
	    </div>

	  </div>
	</div>
</div>