<div ng-show="filtered.repository != null && currentPage == 'tdmanagement'">
 
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      TD Management
    </h1>
    <ol class="breadcrumb">
      <li><a href="tdevolution" ng-click="TDManagementCtrl.selectView('tdevolution')"><i class="fa fa-line-chart"></i> TD Evolution</a></li>
      <li class="active">TD Management</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" style="padding-top: 40px">

    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">          
          <h3 class="box-title">TO DO</h3>
          <span class="label span-counter">
            {{todoCode.length + todoDesign.length}}                           
          </span> 
          <div class="box-tools pull-right">                           
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div><!-- /.box-header -->

        <div class="box-body" style="padding: 0 10px 0 10px;">
          <div class="board-management">
            <ul id="todo_sortable" class="products-list product-list-in-box">
              <li class="item" ng-repeat="type in todoCode">
                <div>
                  <a href="" ng-click="showTdTimeline(type)" class="product-title">{{type.abstract_types[0].name}}</a>
                  <span class="product-description pull-right" style="font-size: 14px;">
                     <i class="fa fa-calendar"></i> {{convertDate(type.commit_date)}}
                  </span>
                </div>
                <div>
                  <span class="label bg-code-debt span-management-debt">
                    CODE                     
                  </span>
                  <span class="label span-pay pull-right" ng-click="updateDebtStatus(type, 'Code Debt', 2)">
                      <i class="fa fa-usd"></i> Pay                   
                  </span>
                </div>
              </li><!-- /.item -->
              <li class="item" ng-repeat="type in todoDesign">
                <div>
                  <a href="" ng-click="showTdTimeline(type)" class="product-title">{{type.abstract_types[0].name}}</a>
                  <span class="product-description pull-right" style="font-size: 14px;">
                     <i class="fa fa-calendar"></i> {{convertDate(type.commit_date)}}
                  </span>
                </div>
                <div>
                  <span class="label bg-design-debt span-management-debt">
                    DESIGN                     
                  </span>
                  <span class="label span-pay pull-right" ng-click="updateDebtStatus(type, 'Design Debt', 2)">
                      <i class="fa fa-usd"></i> Pay                   
                  </span>
                </div>
              </li><!-- /.item -->
            </ul>
          </div>          
        </div>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">DOING</h3>
          <span class="label span-counter">
            {{doingCode.length + doingDesign.length}}                           
          </span> 
          <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div><!-- /.box-header -->

        <div class="box-body" style="padding: 0 10px 0 10px;">
          <div class="board-management">
            <ul id="doing_sortable" class="products-list product-list-in-box">
              <li class="item" ng-repeat="type in doingCode">
                <div>
                  <a href="" ng-click="showTdTimeline(type)" class="product-title">{{type.abstract_types[0].name}}</a>
                  <span class="product-description pull-right" style="font-size: 14px;">
                    <i class="fa fa-calendar"></i> {{convertDate(type.commit_date)}}
                  </span>
                </div>
                <div>
                  <span class="label bg-code-debt span-management-debt">
                    CODE                     
                  </span>
                  <span class="label span-pay pull-right" ng-click="updateDebtStatus(type, 'Code Debt', 3)">
                    <i class="fa fa-thumbs-o-up "></i> Paid                
                  </span>
                </div>                
              </li><!-- /.item -->
              <li class="item" ng-repeat="type in doingDesign">
                <div>
                  <a href="" ng-click="showTdTimeline(type)" class="product-title">{{type.abstract_types[0].name}}</a>
                  <span class="product-description pull-right" style="font-size: 14px;">
                    <i class="fa fa-calendar"></i> {{convertDate(type.commit_date)}}
                  </span>
                </div>
                <div>
                  <span class="label bg-design-debt span-management-debt">
                    DESIGN                     
                  </span>
                  <span class="label span-pay pull-right" ng-click="updateDebtStatus(type, 'Design Debt', 3)">
                    <i class="fa fa-thumbs-o-up "></i> Paid                
                  </span>
                </div>
              </li><!-- /.item -->
            </ul>
          </div>          
        </div>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">DONE</h3>
          <span class="label span-counter">
            {{doneCode.length + doneDesign.length}}                           
          </span> 
          <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

          </div>
        </div><!-- /.box-header -->

        <div class="box-body" style="padding: 0 10px 0 10px;">
          <div class="board-management">
            <ul class="products-list product-list-in-box">
              <li class="item" ng-repeat="type in doneCode">
                <div>
                  <a href="" ng-click="showTdTimeline(type)" class="product-title">{{type.abstract_types[0].name}}</a>
                  <span class="product-description pull-right" style="font-size: 14px;">
                    <i class="fa fa-calendar"></i> {{convertDate(type.commit_date)}}
                  </span>
                </div>
                <div>
                  <span class="label bg-code-debt span-management-debt">
                    CODE                     
                  </span>                 
                </div>                
              </li><!-- /.item -->
              <li class="item" ng-repeat="type in doneDesign">
                <div>
                  <a href="" ng-click="showTdTimeline(type)" class="product-title">{{type.abstract_types[0].name}}</a>
                  <span class="product-description pull-right" style="font-size: 14px;">
                    <i class="fa fa-calendar"></i> {{convertDate(type.commit_date)}}
                  </span>
                </div>
                <div>
                  <span class="label bg-design-debt span-management-debt">
                    DESIGN                     
                  </span>                  
                </div>
              </li><!-- /.item -->
            </ul>
          </div>          
        </div>
        
      </div>
    </div>  

  </section><!-- /.content -->

</div>

<td-indicators></td-indicators>

<script type="text/javascript">
  $(document).ready(function() {
        $( "#todo_sortable" ).sortable({
            revert: true
        });
        $( "#doing_sortable" ).sortable({
            revert: true
        });
    });  
</script>