<div id="typeSmellsDetails" class="modal fade bs-example-modal-sm" role="dialog">
  <div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header modal-header-info">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h3 class="modal-title">
	      	<i class="fa fa-file-code-o"></i> {{type.abstract_types[0].name}}
	      </h3>
	    </div>
	    <div class="modal-body" style="font-size: 20px; padding-top: 0px">
	      <div ng-show="hasGodClass(type)">
		    	<div class="row box-metric-header">
						God Class Detected
		    	</div>
		      <div class="row">
				    <div class="col-md-3 col-sm-6 col-xs-12">
				      <div class="info-box info-box-metric">
				        <span class="info-box-icon info-box-metric-icon bg-aqua">
				        	ATFD
				        </span>	
			          <span class="info-box-number info-box-metric-number">{{ATFD}}</span>
				      </div><!-- /.info-box -->
				    </div><!-- /.col -->
				    <div class="col-md-3 col-sm-6 col-xs-12">
				      <div class="info-box info-box-metric">
				        <span class="info-box-icon info-box-metric-icon bg-green">
				        	TCC
				        </span>	
			          <span class="info-box-number info-box-metric-number">{{TCC | number:2}}</span>
				      </div><!-- /.info-box -->
				    </div><!-- /.col -->
				    <div class="col-md-3 col-sm-6 col-xs-12">
				      <div class="info-box info-box-metric">
				        <span class="info-box-icon info-box-metric-icon bg-yellow">
				        	WMC
				        </span>	
			          <span class="info-box-number info-box-metric-number">{{WMC}}</span>
				      </div><!-- /.info-box -->
				    </div><!-- /.col -->
				  </div><!-- /.row -->
				</div>  

				<div ng-show="hasLongMethod(type).length">
					<div class="row box-metric-header">
						Long Method Detected
					</div>
				  <div class="row">
				    <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="method in longMethods">
				      <div class="info-box info-box-metric" style="width: 100%;">
				      	<span class="info-box-number info-box-metric-number">{{method}}</span>
				      </div><!-- /.info-box -->
				    </div><!-- /.col -->
				  </div><!-- /.row -->
				</div>
				  
	    </div>
	  </div>
	</div>
</div>